body {
    margin: 0;
    box-sizing: border-box;
    background: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: hsl(229, 6%, 66%);
    padding: 20px 0;

}

h1, h2 {
    color: hsl(234, 12%, 34%);
    font-size: 1.5rem;
    margin: 0;
    margin-top: 20px;
}

.header {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    padding: 0 21px;
    max-width: 78.4%;
}

.light-title {
    font-weight: 200;
}


.cards {
    display: grid;
    grid-gap: 30px;
    padding: 32px;
}

.card {
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 0 hsl(229, 6%, 66%);
    padding: 30px;
    background: #fff;
}

.card > h2 {
    margin-top: 0;
}

#supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

#team-builder {
    border-top: 4px solid hsl(0, 78%, 62%);
}

#karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

#calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

.card-info {
    margin: 0;
    padding-top: 20px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
}

.icon-container {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media(min-width: 1024px) {
    .header {
        max-width: 500px;
    }

    .cards {
        grid-template-rows: repeat(4, 125px);
        grid-template-columns: repeat(3, 350px);
        justify-content: center;
    }

    .card {
        padding: 30px;
        padding-bottom: 0;
        height: 250px;
    }

    #supervisor, #calculator {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    #team-builder {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    #karma {
        grid-row-start: 3;
        grid-row-end: 5;
    }
}

@media(min-width: 768px) and (max-width:1023px) {
    .cards {
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: repeat(2, 48%);
    }
}